{% extends "hosting/base.html" %}
{% block title %}{{ t('hosting.mfa.recovery_title') }}{% endblock %}
{% block content %}
<div class="card card--narrow"><h1>{{ t('hosting.mfa.recovery_title') }}</h1><p>{{ t('hosting.mfa.recovery_body') }}</p>
<ul class="secret-box">{% for code in codes %}<li>{{ code }}</li>{% endfor %}</ul>
<p class="btn-row"><button type="button" class="btn" data-copy="{{ codes|join('\n') }}">{{ t('common.copy') }}</button>
<a class="btn btn--primary" href="{{ url_for('account.account') }}">{{ t('hosting.mfa.saved_codes') }}</a></p></div>
{% endblock %}
