{% extends "base.html" %}
{% block title %}{{ t('hosting.help.title', default='Help') }} | {{ t('hosting.brand') }}{% endblock %}
{% block content %}
<div class="hosting-help">
    <h2>{{ t('hosting.help.title', default='Help') }}</h2>
    <p class="help-intro">{{ t('hosting.help.intro', default='Guides for creating and running a wiki on this platform.') }}</p>
    {% if articles %}
    <ul class="help-article-list">
        {% for article in articles %}
        <li>
            <a href="{{ url_for('hosting_help_article', slug=article.slug, lang=help_language) }}">{{ article.title }}</a>
            {% if article.description %}<span class="help-article-description">{{ article.description }}</span>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ t('hosting.help.unavailable', default='The help articles are not available in this installation.') }}</p>
    {% endif %}
    <p class="help-more">
        <a href="{{ project_docs_url }}">{{ t('hosting.help.project_docs', default='Administrator and deployment documentation') }}</a>
    </p>
</div>
{% endblock %}
